description = "Counter Partial"

[viewBag]
snippetCode = "team"
snippetName = "team"
==
{##} {# Section Counter Start #}
<section class="section counter" style="padding: 30px;">
	<div class="container">

		<h2 class="mb-5" style="text-align: left;">Our Team</h2>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item d-flex justify-content-center mb-5 mb-lg-0">
					<div class="width-fit-content"><img src="http://localhost/storage/app/media/cropped-images/Team4-0-0-0-0-1575770537.jpg" style="width: 226px;" class="fr-fic fr-dib fr-fil">

						<h3 class="mb-0" style="text-align: left;">Robert Woods</h3>

						<p class="text-color" style="text-align: left;">CEO</p>
						<br>

						<p class="text-muted" style="text-align: left; max-width: 226px;">Ut enim ad minim veniam, quis nostrud exer tation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div></div></div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item d-flex justify-content-center mb-5 mb-lg-0">
					<div class="width-fit-content"><img src="http://localhost/storage/app/media/cropped-images/team-1-390x390-0-0-0-0-1575775334.jpg" style="width: 226px;" class="fr-fic fr-dib fr-fil">

						<h3 class="mb-0" style="text-align: left;">Marcelia Prinston</h3>

						<p class="text-color" style="text-align: left;">Partnership Director</p>
						<br>

						<p class="text-muted" style="text-align: left; max-width: 226px;">Ut enim ad minim veniam, quis nostrud exer tation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div></div></div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item d-flex justify-content-center mb-5 mb-lg-0">
					<div class="width-fit-content"><img src="http://localhost/storage/app/media/cropped-images/Team4-0-0-0-0-1575770537.jpg" style="width: 226px;" class="fr-fic fr-dib fr-fil">

						<h3 class="mb-0" style="text-align: left;">Lionel Green</h3>

						<p class="text-color" style="text-align: left;">Financial Director</p>
						<br>

						<p class="text-muted" style="text-align: left; max-width: 226px;">Ut enim ad minim veniam, quis nostrud exer tation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div></div></div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item d-flex justify-content-center mb-5 mb-lg-0">
					<div class="width-fit-content"><img src="http://localhost/storage/app/media/cropped-images/team-1-390x390-0-0-0-0-1575775334.jpg" style="width: 214px;" class="fr-fic fr-dib fr-fil">

						<h3 class="mb-0" style="text-align: left;">Earl Marshall</h3>

						<p class="text-color" style="text-align: left;">Accounting Director</p>
						<br>

						<p class="text-muted" style="text-align: left; max-width: 226px;">Ut enim ad minim veniam, quis nostrud exer tation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div></div></div></div></div>
</section>

{# Section Counter End #}