;;
description = "Footer Partial"
==
{##}
{# Footer Start #}
<footer class="footer">
	<div class="row bg-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget">
						<h4 class="text-capitalize mb-4 text-white">Info</h4>
						<ul class="list-unstyled footer-menu lh-30">
							<li><a href="#" class="text-white">Rules and Accreditation</a></li>
							<li><a href="#" class="text-white">Current Consultations</a></li>
							<li><a href="#" class="text-white">Previous Consultations</a></li>
							<li><a href="#" class="text-white">Quarterly Reports</a></li>
							<li><a href="#" class="text-white">Annual Audit</a></li>
							<li><a href="#" class="text-white">Marketing Guidelines</a></li>
							<li><a href="#" class="text-white">Relevant Legislation</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget">
						<h4 class="text-capitalize mb-4 text-white">About us</h4>
						<ul class="list-unstyled footer-menu lh-30">
							<li><a href="#" class="text-white">What is Green Power?</a></li>
							<li><a href="#" class="text-white">Why Green Power?</a></li>
							<li><a href="#" class="text-white">Green Power Generators</a></li>
							<li><a href="#" class="text-white">How Green Power Works</a></li>
							<li><a href="#" class="text-white">Who is behind Green Power?</a></li>
							<li><a href="#" class="text-white">Who uses Green Power?</a></li>
							<li><a href="#" class="text-white">Where Are Green Power Generators?</a></li>
							<li><a href="#" class="text-white">Audits And Reports</a></li>
							<li><a href="#" class="text-white">Energy saving tips</a></li>
							<li><a href="#" class="text-white">Fact Sheets</a></li>
							<li><a href="#" class="text-white">Accessibility</a></li>
							<li><a href="#" class="text-white">Links</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget">
						<h4 class="text-capitalize mb-4 text-white">Business Center</h4>
						<ul class="list-unstyled footer-menu lh-30">
							<li><a href="#" class="text-white">Rules and Accreditation</a></li>
							<li><a href="#" class="text-white">Current Consultations</a></li>
							<li><a href="#" class="text-white">Previous Consultations</a></li>
							<li><a href="#" class="text-white">Quarterly Reports</a></li>
							<li><a href="#" class="text-white">Annual Audit</a></li>
							<li><a href="#" class="text-white">Marketing Guidelines</a></li>
							<li><a href="#" class="text-white">Relevant Legislation</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget">
						<h4 class="text-capitalize mb-4 text-white">Green Power for</h4>
						<ul class="list-unstyled footer-menu lh-30">
							<li><a href="#" class="text-white">Business</a></li>
							<li><a href="#" class="text-white">Home</a></li>
							<li><a href="#" class="text-white">Events</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-btm pt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; {{ "now"|date("Y") }} - Copyright Reserved to <span class="text-color">Aero</span>
					</div>
				</div>
				<div class="col-lg-6 text-left text-lg-right">
					<ul class="list-inline footer-socials">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/themefisher">
								<i class="ti-facebook mr-2 color-one"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com/themefisher">
								<i class="ti-twitter mr-2 color-one"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.pinterest.com/themefisher/">
								<i class="ti-linkedin mr-2 color-one"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</footer>
{# Footer Close #}