;;
description = "Footer Partial"
[viewBag]

[staticMenu footer]
code = "footer"
==
{##}
{# Footer Start #}
<footer class="footer">
	<div class="row bg-footer">
		<div class="container">
			{% partial 'site/footermenu' items=footer.menuItems %}
		</div>
	</div>
	<div class="footer-btm pt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; {{ "now"|date("Y") }} - Copyright Reserved to <span class="text-color">email: contact@aero.org.ro tel: +40 762 333 131</span>
					</div>
				</div>
				<div class="col-lg-6 text-left text-lg-right">
					<ul class="list-inline footer-socials">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/themefisher">
								<i class="ti-facebook mr-2 color-one"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com/themefisher">
								<i class="ti-twitter mr-2 color-one"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.pinterest.com/themefisher/">
								<i class="ti-linkedin mr-2 color-one"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</footer>
{# Footer Close #}